package ${packageName}.domain;

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.experimental.Accessors;

import java.io.Serializable;
import java.time.LocalDateTime;

/**
 * ${functionName} Domain
 *
 * @author ${author}
 * @date ${datetime}
 */
@TableName("${tableName}")
@Data
@Accessors(chain = true)
public class ${ClassName} implements Serializable {
    private static final long serialVersionUID = 1L;
#foreach ($column in $columns)
    /** $column.columnComment */
#if($column.isPk == '1')
    @TableId
#end
#if($column.javaField == 'delFlag')
    @TableLogic
#end
    private $column.javaType $column.javaField;
#if($column.queryType == "BETWEEN")
    /** 开始时间 */
    @TableField(exist = false)
    private LocalDateTime ${column.javaField}Start;
    /** 结束时间 */
    @TableField(exist = false)
    private LocalDateTime ${column.javaField}End;
#end
#end
}
