<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aidev.generator.mapper.GenTableMapper">
    <resultMap id="r_m" type="GenTable">
        <id column="table_id" property="tableId"/>
        <result column="table_name" property="tableName"/>
        <result column="table_comment" property="tableComment"/>
        <result column="sub_table_name" property="subTableName"/>
        <result column="sub_table_fk_name" property="subTableFkName"/>
        <result column="class_name" property="className"/>
        <result column="tpl_category" property="tplCategory"/>
        <result column="package_name" property="packageName"/>
        <result column="module_name" property="moduleName"/>
        <result column="business_name" property="businessName"/>
        <result column="function_name" property="functionName"/>
        <result column="function_author" property="functionAuthor"/>
        <result column="gen_type" property="genType"/>
        <result column="gen_path" property="genPath"/>
        <result column="options" property="options"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="r_m_e" type="GenTable" extends="r_m">
        <collection column="table_id" property="columns"
                    select="com.aidev.generator.mapper.GenTableColumnMapper.selectByTableId"/>
    </resultMap>
</mapper>