<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aidev.system.mapper.SysPostMapper">
    <resultMap id="r_m" type="SysPost">
        <id column="post_id" property="postId"/>
        <result column="post_code" property="postCode"/>
        <result column="post_name" property="postName"/>
        <result column="post_sort" property="postSort"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <sql id="s_f_s">
        SELECT p.post_id,
               p.post_code,
               p.post_name,
               p.post_sort,
               p.status,
               p.create_by,
               p.create_time,
               p.update_by,
               p.update_time,
               p.remark
        FROM aidev_sys_post p
    </sql>

    <select id="selectPostsByUserId" resultMap="r_m">
        <include refid="s_f_s"/>
        LEFT JOIN aidev_sys_user_post up ON p.post_id = up.post_id
                WHERE up.user_id = #{userId}
    </select>
</mapper> 